body {
	font-family: Roboto, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
}

main {
	display: grid;
	justify-content: center;
}

#win-modal {
	background-color: lightgrey;
	border: 1px solid grey;
	height: 28em;
	left: 0;
	margin: 0 auto;
	position: fixed;
	right: 0;
	text-align: center;
	max-width: 30em;
}

#close-modal {
	margin-right: 100%;
}

#start-overlay {
	background-color: rgba(255, 240, 112, 0.80);
	height: 100%;
	margin: 0 auto;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 100;
}

#game-header {
	text-align: center;
}

#game-header div {
	display: inline-block;
}

#reset {
	cursor: pointer;
}

#memory-game {
	display: flex;
	flex-wrap: wrap;
	font-family: initial;
	max-width: 1000px;
}

.card {
	align-items: center;
	border: 1px solid grey;
	cursor: pointer;
	display: flex;
	height: 13em;
	justify-content: center;
	margin: 0 auto 20px auto;
	width: 10em;
}

.hide {
	background-color: white;
}

.back {
	height: inherit;
	position: absolute;
	width: inherit;
}

.front {
	font-size: 5em;
}
