body {
	margin: 0;
	padding: 0;
}

#win-modal {
	background-color: lightgrey;
	border: 1px solid grey;
	height: 28em;
	position: absolute;
	width: 25em;
}

#start-overlay {
	background-color: grey;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 100;
}

#game-header div {
	display: inline-block;
}

#reset {
	cursor: pointer;
}

.card {
	border: 1px solid grey;
	cursor: pointer;
	height: 13em;
	width: 10em;
}

.back {
	height: inherit;
	position: absolute;
	width: inherit;
}

.front {
	font-size: 5em;
}
