body {
	margin: 0;
	padding: 0;
}

#win-module {
	border: 1px solid grey;
	display: none;
	height: 28em;
	position: absolute;
	width: 25em;
}

#game-header div {
	display: inline-block;
}

.card {
	border: 1px solid grey;
	cursor: pointer;
	height: 13em;
	width: 10em;
}

.front {
	font-size: 5em;
}
